<div class="container mt-4">
    <h2>Login Page</h2>
    <hr>
<form #recievedUser="ngForm">
    {{recievedUser.value | json}}
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" 
        [(ngModel)]="user.username">
    </div>
   <div class="form-group">
       <label>Password</label>
    <input type="password" class="form-control" name="password" 
    [(ngModel)]="user.password">
   </div>
   
    <button class="btn btn-primary" (click)="login()">Login</button>
   <div class="regnow">
    <a href="#" routerLink="/register">Register Now</a>
    <a href="#" routerLink="/forgot">Forgot Username and Password?</a>
   </div>
</form>
</div>
