<div class="container mt-4">
    <h2>Register Now</h2>
    <hr>
    
    <form #f="ngForm" (ngSubmit)="registerUser()">

        {{f.value | json}}

        {{message}}
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="user.username"  required>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="user.firstname" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"required>
        </div>
        <div class="form-group">
            <label>Business Unit</label>
            <input type="text" class="form-control" name="businessunit" #businessunit="ngModel" [(ngModel)]="user.businessunit"required>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="user.title"required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"required>
        </div>
        
        <div class="form-group">
            <label>Telephone</label>
            <input type="text" class="form-control" name="telephone" #telephone="ngModel" [(ngModel)]="user.telephone"required>
        </div>
        <div class="form-group">
            <label>Address1</label>
            <input type="text" class="form-control" name="address1" #address1="ngModel" [(ngModel)]="user.address1" required>
        </div>
        <div class="form-group">
            <label>Address2</label>
            <input type="text" class="form-control" name="address2" #address2="ngModel" [(ngModel)]="user.address2">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="user.city" required>
        </div>

        <label>States</label>
        <select class="form-select form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="user.state">
            <option selected>--Select--</option>
            <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
        </select>
       
        <div class="form-group">
            <label>Zip</label>
            <input type="text" class="form-control" name="zip" #zip="ngModel" [(ngModel)]="user.zip" required>
        </div>

        <label>Country</label>
        <select class="form-select form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="user.country">
            <option selected>--Select--</option>
            <option *ngFor="let count of country" [value]="count.name">{{count.name}}</option>
        </select>
        
        <br>
          <button class="btn btn-primary">SignUp</button>
    </form>
</div>


